In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
os.chdir('..')

In [3]:
def match_np_to_dfnotoh(df_notoh, A_t):
    print("SEX_1", np.all((df_notoh['SEX'] == 1) == A_t[:, 0]))
    print("SEX_2",np.all((df_notoh['SEX'] == 2) == A_t[:, 1]))
    print("RAC1P_1", np.all((df_notoh['RAC1P'] == 1) == A_t[:, 2]))
    print("RAC1P_2", np.all((df_notoh['RAC1P'] == 2) == A_t[:, 3]))
    print("RAC1P_3", np.all((df_notoh['RAC1P'] == 3) == A_t[:, 4]))
    print("RAC1P_4", np.all((df_notoh['RAC1P'] == 4) == A_t[:, 5]))
    print("RAC1P_5", np.all((df_notoh['RAC1P'] == 5) == A_t[:, 6]))
    print("RAC1P_6", np.all((df_notoh['RAC1P'] == 6) == A_t[:, 7]))
    print("RAC1P_7", np.all((df_notoh['RAC1P'] == 7) == A_t[:, 8]))
    print("RAC1P_8", np.all((df_notoh['RAC1P'] == 8) == A_t[:, 9]))
    print("RAC1P_9", np.all((df_notoh['RAC1P'] == 9) == A_t[:, 10]))

def match_np_dfoh(df_oh, A_t):
    print("SEX_1", np.all(df_oh['SEX_1'] == A_t[:, 0]))
    print("SEX_2", np.all(df_oh['SEX_2'] == A_t[:, 1]))
    print("RAC1P_1", np.all(df_oh['RAC1P_1'] == A_t[:, 2]))
    print("RAC1P_2", np.all(df_oh['RAC1P_2'] == A_t[:, 3]))
    print("RAC1P_3", np.all(df_oh['RAC1P_3'] == A_t[:, 4]))
    print("RAC1P_4", np.all(df_oh['RAC1P_4'] == A_t[:, 5]))
    print("RAC1P_5", np.all(df_oh['RAC1P_5'] == A_t[:, 6]))
    print("RAC1P_6", np.all(df_oh['RAC1P_6'] == A_t[:, 7]))
    print("RAC1P_7", np.all(df_oh['RAC1P_7'] == A_t[:, 8]))
    print("RAC1P_8", np.all(df_oh['RAC1P_8'] == A_t[:, 9]))
    print("RAC1P_9", np.all(df_oh['RAC1P_9'] == A_t[:, 10]))

# ACS original ordering, state by state

In [4]:
df_acs_notoh = pd.read_pickle('./data_frames/dense_acs_mm_notoh.pkl')
# A_t_acs = np.load('./data_frames/nparrays/acsog_allstates2021_20230808-095906_unshuffled__undropped_.npy')
A_t = np.load('./data_frames/nparrays/acsog_statebystate.npy')

In [5]:
from collections import Counter
Counter(df_acs_notoh['SEX']), Counter(df_acs_notoh['RAC1P'])

(Counter({1: 805503, 2: 763685}),
 Counter({1: 1045807,
          9: 168468,
          2: 136227,
          6: 100852,
          8: 97582,
          3: 14455,
          7: 2755,
          5: 2316,
          4: 726}))

In [6]:
match_np_to_dfnotoh(df_acs_notoh, A_t_acs)

NameError: name 'A_t_acs' is not defined

In [13]:
df_acs_oh = pd.read_pickle('./data_frames/dense_acs_mm_oh.pkl')
A_t_acs = np.load('./data_frames/nparrays/acsog_allstates2021_20230808-095906_unshuffled__undropped_.npy')

In [15]:
df_acs_oh['SEX_1']

0          0
1          1
2          0
3          0
4          1
          ..
1630162    0
1630163    1
1630164    0
1630165    1
1630166    0
Name: SEX_1, Length: 1569188, dtype: uint8

In [25]:
match_np_dfoh(df_acs_oh, A_t_acs)

SEX_1 True
SEX_2 True
RAC1P_1 True
RAC1P_2 True
RAC1P_3 True
RAC1P_4 True
RAC1P_5 True
RAC1P_6 True
RAC1P_7 True
RAC1P_8 True
RAC1P_9 True

# Shuffled dataframe seed = 21

In [26]:
df_shuf_21_notoh = df_acs_notoh.sample(frac = 1.0, random_state= 21)

In [31]:
A_t21 = np.load('./data_frames/nparrays/allstates2021_20230805-164023_shuffled__undropped_.npy')
A_t21temp = np.load('./data_frames/nparrays/allstates2021_20230725-011846_shuffled__dropped_.npy')

In [32]:
np.all(A_t21 == A_t21temp)

True

In [33]:
match_np_to_dfnotoh(df_shuf_21_notoh, A_t21)

SEX_1 True
SEX_2 True
RAC1P_1 True
RAC1P_2 True
RAC1P_3 True
RAC1P_4 True
RAC1P_5 True
RAC1P_6 True
RAC1P_7 True
RAC1P_8 True
RAC1P_9 True

In [34]:
df_shuf21_oh = df_acs_oh.sample(frac = 1.0, random_state = 21)

In [35]:
match_np_dfoh(df_shuf21_oh, A_t21)

SEX_1 True
SEX_2 True
RAC1P_1 True
RAC1P_2 True
RAC1P_3 True
RAC1P_4 True
RAC1P_5 True
RAC1P_6 True
RAC1P_7 True
RAC1P_8 True
RAC1P_9 True

# shuffle dataframe seed = 42

In [36]:
df_shuf_42_notoh = df_acs_notoh.sample(frac = 1.0, random_state= 42)

In [37]:
A_t42 = np.load('./data_frames/nparrays/allstate_shuffle_seed42_20230727-014004_shuffled__undropped_.npy')
A_t42_temp = np.load('./data_frames/nparrays/allstate_shuffle_seed42_20230727-031153_shuffled__dropped_.npy')

print(np.all(A_t42 == A_t42_temp))

True

In [38]:
match_np_to_dfnotoh(df_shuf_42_notoh, A_t42)

SEX_1 True
SEX_2 True
RAC1P_1 True
RAC1P_2 True
RAC1P_3 True
RAC1P_4 True
RAC1P_5 True
RAC1P_6 True
RAC1P_7 True
RAC1P_8 True
RAC1P_9 True

In [39]:
df_shuf42_oh = df_acs_oh.sample(frac = 1.0, random_state = 42)

In [40]:
match_np_dfoh(df_shuf42_oh, A_t42)

SEX_1 True
SEX_2 True
RAC1P_1 True
RAC1P_2 True
RAC1P_3 True
RAC1P_4 True
RAC1P_5 True
RAC1P_6 True
RAC1P_7 True
RAC1P_8 True
RAC1P_9 True

# sorted by RACE sizes, largest to smallest

In [53]:
df_race_ls_notoh = df_acs_notoh.sort_values(by='RAC1P', key=lambda x: x.map(x.value_counts()), 
                                    ascending=False, inplace = False, kind = 'mergesort')

In [54]:
df_racels_saved= pd.read_pickle('./data_frames/dense_racesort_mm_notoh.pkl')
df_racels_saved.equals(df_race_ls_notoh)

True

In [56]:
A_trace_ls = np.load('./data_frames/nparrays/sort_by_racecounts_20230807-142909_unshuffled__undropped_.npy')
A_trace_lstemp = np.load('./data_frames/nparrays/sort_by_racecounts_20230807-161028_unshuffled__dropped_.npy')

print(np.all(A_trace_ls == A_trace_lstemp))

True

In [57]:
match_np_to_dfnotoh(df_race_ls_notoh, A_trace_ls)

SEX_1 True
SEX_2 True
RAC1P_1 True
RAC1P_2 True
RAC1P_3 True
RAC1P_4 True
RAC1P_5 True
RAC1P_6 True
RAC1P_7 True
RAC1P_8 True
RAC1P_9 True

# sorted by SEX sizes, largest to smallest

In [ ]:
# TODO: check that df_sex_ls_notoh matches dense sexsorted one hot
# pd.read_pickle('./data_frames/dense_sexsort_mm_notoh.pkl')

In [45]:
df_sex_ls_notoh = df_acs_notoh.sort_values(by='SEX', key=lambda x: x.map(x.value_counts()), ascending=False,  
                                inplace = False, kind = 'mergesort')

In [44]:
A_tsex_ls = np.load('./data_frames/nparrays/sort_by_sex_20230807-084411_unshuffled__undropped_.npy')
A_tsex_lstemp = np.load('./data_frames/nparrays/sort_by_sex_20230807-125728_unshuffled__dropped_.npy')

print(np.all(A_tsex_ls == A_tsex_lstemp))

True

In [46]:
match_np_to_dfnotoh(df_sex_ls_notoh, A_tsex_ls)

SEX_1 True
SEX_2 True
RAC1P_1 True
RAC1P_2 True
RAC1P_3 True
RAC1P_4 True
RAC1P_5 True
RAC1P_6 True
RAC1P_7 True
RAC1P_8 True
RAC1P_9 True

In [47]:
df_sex_ls

,OCCP,WKHP,AGEP,SCHL,ST,JWTRNS,DRAT,COW,SEX,RELSHIPP,POBP,ENG,MAR,RAC1P,PINCP
1,4640,0.397959,0.037975,19,1,1,0,1,1,38,13,0,5,2,0.030967
4,2722,0.091837,0.025316,18,1,0,0,1,1,38,36,0,5,1,0.009455
9,9620,0.244898,0.063291,19,1,0,0,1,1,38,1,0,5,1,0.078493
11,4030,0.193878,0.012658,18,1,1,0,1,1,38,1,0,5,2,0.009455
13,9645,0.346939,0.063291,21,1,0,0,5,1,38,1,0,5,2,0.034469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1630157,3605,0.397959,0.721519,16,72,1,0,1,2,21,72,4,1,1,0.118015
1630159,800,0.295918,0.291139,21,72,1,0,1,2,21,72,3,1,9,0.085497
1630162,1430,0.397959,0.291139,21,72,1,0,1,2,20,72,2,5,9,0.399670
1630164,5740,0.397959,0.367089,21,72,1,0,4,2,21,72,0,1,9,0.092501
1630166,2300,0.397959,0.493671,21,72,1,0,2,2,21,72,4,1,2,0.138026

In [49]:
df_sexls_saved = pd.read_pickle('./data_frames/dense_sexsort_mm_notoh.pkl')

In [50]:
df_sex_ls.equals(df_sexls_saved)

True